.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header .header__wrapper {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header__wrapper .header__icons {
  display: flex;
  width: 15%;
  font-size: 30px;
}

.header__icons .header__icon {
  margin-left: 20px;
}
